
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper-butto1n-prev {
    color: black;
    font-size: 0.8rem;
    top: 50%; 
    /* left: 50%; */
    transform: translateY(-50%); 
    border: 1px solid gray;
    border-radius: 50%;
    width: 30px;
    height: 35px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: white; 
    z-index: 10; 
}
/* General transitions */
.transition-all {
  transition: all 0.5s ease-in-out;
}

/* Animation for sliding forms */
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
    
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    
  }
}

.animate-slide-in-up {
  animation: slideInUp 0.5s forwards;
}

.animate-slide-in-down {
  animation: slideOutDown 0.5s forwards;
}

/* Header classes */
.short-header {
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.big-header {
  height: 120px;
}
